
.scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  .scroll-container {
    scrollbar-width: none; 
  }
  
  /* For Internet Explorer and Edge */
  .scroll-container {
    -ms-overflow-style: none;  
  }
  